:root{
    --primary-color: #DE89BE;
    --secondary-color: #C297b8;
    --tertiary-color: #40434E;
}

.text-custom-primary{
    color: var(--primary-color);
}

.text-custom-secondary{
    color: var(--secondary-color);
}

.text-custom-tertiary{
    color: var(--tertiary-color);
}

.bg-custom-primary{
    background-color: var(--primary-color);
}

.bg-custom-secondary{
    background-color: var(--secondary-color);
}

.bg-custom-tertiary{
    background-color: var(--tertiary-color);
}

.border-custom-primary{
    border-color: var(--primary-color);
}

.border-custom-secondary{
    border-color: var(--secondary-color);
}

.border-custom-tertiary{
    border-color: var(--tertiary-color);
}

.border-dashed{
    border-style: dashed;
}

.border-custom-bottom{
    border-top-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
}