:root{
    --primary-custom-color: #DE89BE;
    --secondary-custom-color: #C297b8;
    --tertiary-custom-color: #40434E;
}

.text-custom-primary{
    color: var(--primary-custom-color);
}

.text-custom-secondary{
    color: var(--secondary-custom-color);
}

.text-custom-tertiary{
    color: var(--tertiary-custom-color);
}

.bg-custom-primary{
    background-color: var(--primary-custom-color);
}

.bg-custom-secondary{
    background-color: var(--secondary-custom-color);
}

.bg-custom-tertiary{
    background-color: var(--tertiary-custom-color);
}

.border-custom-primary{
    border-color: var(--primary-custom-color);
}

.border-custom-secondary{
    border-color: var(--secondary-custom-color);
}

.border-custom-tertiary{
    border-color: var(--tertiary-custom-color);
}

.border-dashed{
    border-style: dashed;
}

.border-custom-bottom{
    border-top-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
}